.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    max-width: 1440px;
    margin: auto;
}

@media screen and (max-width:600px) {
    .grid {
        grid-template-columns: 1fr;
        width: 100vw;
    }
}