.pagination {
    max-width: 600px;
    margin: auto;
    display: flex;
    margin-top: 4rem;
    button {
        flex-grow: 1;
        padding: 1rem;
        background: none;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        background: black;
        color: white;
        user-select: none;
        &:active {
            background: rgb(31, 31, 31);
        }
    }
}